@charset "UTF-8";

/* iOS FIXES ---------*/
html, body {
    overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}
input, textarea {
    -webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-padding: 0;
	padding: 0;
}

/* RESET -------------*/
/* Based on Meyer 2.0 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    background:transparent;
}
/* HTML5 display-roles */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, select {
    vertical-align:middle;
}
body {
	height:100%;
}

/* STRUCTURE ==========================*/

body {
	background-color: #efefef;
	font-size: .875em;
}
#wrapper, .container {
	max-width: 970px;
	margin: 0 auto;
}
header {
	height: 100px;
	margin-bottom: 1em;
	clear: both;
}
nav.main {
	width: 50%;
	float: right;
}
nav.mobile {
	display: none;
	float: right;
	padding: 0 1em 0 0;
	vertical-align: top;
	overflow: hidden;
}
article {
	clear: both;
	overflow: hidden;
}
.half-col, .audio-col {
	width: 50%;
	float: left;
	margin: 1em 0;
}
footer {
	clear: both;
}
@media all and (max-width: 640px) {
	.half-col, .audio-col {
		width: 100%;
	}
}
@media all and (max-width: 479px) {
	nav.main {
		display: none;
	}
	nav.mobile {
		display: inline-block;
	}
}

/* LAYOUT =============================*/

#audio, #contact {
	border-top: 1px solid #333;
	-moz-box-shadow: 0 1px 3px #888;
	-webkit-box-shadow: 0 1px 3px #888;
	box-shadow: 0 1px 3px #888;
}
#contact {
	background-color: #3c87e1;
	min-height: 120px;
}
#audio {
	background-color: #999;
}
header {
}
footer {
	padding: 1em;
	border-top: solid 1px #333;
}
nav.main, nav.mobile {
	text-align: right;
}
nav.mobile a.trigger1 {
	margin-left: 1em;
}
.clear {
	clear: both;
}
.bg {
	background-image: url(white-carbon.png);
}
#folio-thumbs, #loading {
	clear: both;
	border-top: solid 1px #333;
	padding: 5px;
}
.loading-container {
	width: 500px;
	/*min-height: 200px;*/
	text-align: center;
	margin: 250px auto;
}
.show-480 {
	display: none;
}
@media all and (max-width: 969px) {
	header {
		padding: 0 5px;
	}
}
@media all and (max-width: 479px) {
	.hide-480 {
		display: none;
	}
	.show-480 {
		display: inline-block;
	}
}

/* Transitions */
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: width, height;
     -moz-transition-property: width, height;
      -ms-transition-property: width, height;
       -o-transition-property: width, height;
          transition-property: width, height;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

/* Splash Page */
.bg-splash {
	position: absolute;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}
.splash-container {
	position: relative;
	/*top: 8%;
	top: 50%;
	bottom: 50%;*/
	width: 500px;
	min-height: 500px;
	text-align: center;
	margin: 0 auto;
}
.full-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.links {
	position: relative;
	margin-top: -100px;
}
@media all and (min-width: 551px) {
	.bg-splash {
		background-image: url(mfp-splash-bg.png);
	}
}
@media all and (max-width: 550px) {
	.bg-splash {
		background-image: url(mfp-splash-small.png);
	}
	.splash-container {
		width: 300px;
		min-height: 300px;
		/*top: 0;*/
	}
	.links {
		margin-top: -66px;
		font-size: .8em;
	}
}

/* Folio Thumbs */
#folio-thumbs .box {
	float: left;
	margin: 5px;
	border: solid 1px #333;
	-moz-box-shadow: 0 1px 3px #888;
	-webkit-box-shadow: 0 1px 3px #888;
	box-shadow: 0 1px 3px #888;
}
.img-box {
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.img-box img {
   display: block;
   position: relative;
}
.img-box .mask {
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
a.photo-info {
	display: inline-block;
}
.vert, .vert .mask, .vert a.photo-info {
	width: 148px;
	height: 228px;
}
.square, .square .mask, .square a.photo-info {
	width: 148px;
	height: 148px;
}
.horiz, .horiz .mask, .horiz a.photo-info, .penguin {
	width: 228px;
	height: 148px;
}
div.enlarge {
	background-color: #333;
	padding: 0 .5em;
	display: inline-block;
}
div.no-border {
	border: none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.penguin {
	background-image: url(penguin.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
@media all and (max-width: 479px) {
	.penguin {
		width: 50px;
		height: 50px;
		float: right;
		margin-left: 1em;
		background-position: right top;
	}
}

/* Panels */
.hidden {
	display: none;
}
@media all and (min-width: 479px) {
article .container {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-in 0.4s;
   -moz-transition: all 0.3s ease-in 0.4s;
   -o-transition: all 0.3s ease-in 0.4s;
   -ms-transition: all 0.3s ease-in 0.4s;
   transition: all 0.3s ease-in 0.4s;
}
article .half-col, article .audio-col {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background: transparent;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
article.active .container {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
article.active .half-col, article.active .audio-col {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
}

/* Audio Component */

div.audiojs {
	margin: 1em 15px;
}
@media all and (max-width: 360px) {
	div.audiojs {
		margin: 1em 5px;
	}
}
.audiojs { height: 22px; background: #404040; width: 310px;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(0.5, #555), color-stop(0.51, #444), color-stop(1, #444));
        background-image: -moz-linear-gradient(center top, #444 0%, #555 50%, #444 51%, #444 100%);
        -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
        -o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); }
      .audiojs .play-pause { width: 15px; height: 20px; padding: 0px 8px 0px 0px; }
      .audiojs p { width: 25px; height: 20px; margin: -3px 0px 0px -1px; }
      .audiojs .scrubber { background: #5a5a5a; width: 165px; height: 10px; margin: 5px; }
      .audiojs .progress { height: 10px; width: 0px; background: #ccc;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(0.5, #ddd), color-stop(0.51, #ccc), color-stop(1, #ccc));
        background-image: -moz-linear-gradient(center top, #ccc 0%, #ddd 50%, #ccc 51%, #ccc 100%); }
      .audiojs .loaded { height: 10px; background: #000;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.5, #333), color-stop(0.51, #222), color-stop(1, #222));
        background-image: -moz-linear-gradient(center top, #222 0%, #333 50%, #222 51%, #222 100%); }
      .audiojs .time { float: left; height: 25px; line-height: 25px; }
      .audiojs .error-message { height: 24px;line-height: 24px; }
ol { padding: 0px; margin: 0px; width: 310px; list-style: decimal-leading-zero inside; color: #ccc; font-size: 1em; }
      ol li { margin: 0px; padding: 9px 2px 10px; border-bottom: 1px solid #333; cursor: pointer; list-style: decimal-leading-zero inside;}
	  ol li:first-child { border-top: 1px solid #333; }
      ol li a { display: inline-block; padding: 0; text-indent: .3em; }
      li.playing { background-color: #efefef; color: #333; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); }
li.playing {
	-moz-box-shadow: inset 0 1px 3px #888;
	-webkit-box-shadow: inset 0 1px 3px #888;
	box-shadow: inset 0 1px 3px #888;
}
li.playing a { color: #333; }

/* TYPOGRAPHY =========================*/

body {
	font-family: 'Geo', sans-serif;
	color: #333;
}
p {
	line-height: 1.3em;
}
a {
	text-decoration: none;
	color: #333;
}
h1, h3, h3 {
	font-weight: normal;
}
h1 {
	font-family: 'Squada One', cursive;
	font-size: 1.5em;
}
h2 {
	font-size: 1.2em;
}
header a:hover {
	color: #3c87e1;
}
nav p {
	line-height: 100px;
}
nav.main a {
	padding: 0 1em;
	border-right: solid 1px #333;
	cursor: pointer;
}
nav.main a:last-child {
	border-right: none;
}
nav.mobile img {
	margin-top: -24px;
	vertical-align: top;
}
#loading {
	color: #fff;
}
.pulled {
	margin-top: 0 !important;
}
.img-box h2, .img-box p, .img-box div.enlarge {
	margin: .5em;
}
div.enlarge {
	color: #efefef;
	line-height: 1.5em;
}
.half-col p, .half-col h1, .half-col form, .half-col ol, .audio-col h1 {
	padding: 0 15px;
}
.half-col p, .half-col form, .half-col ol {
	margin: 1em 0 0 0;
}
@media all and (max-width: 360px) {
	.half-col p, .half-col h1, .half-col form, .half-col ol, .audio-col h1 {
		padding: 0 5px;
	}
}
#audio {
	color: #333;
}
#contact {
	color: #efefef;
}

/* FORMS =========================*/
#contact form {
	width: 310px;
}
input[type="text"], textarea {
	border: solid 1px #333;
	background-color: #efefef;
	-moz-box-shadow: inset 0 1px 3px #888;
	-webkit-box-shadow: inset 0 1px 3px #888;
	box-shadow: inset 0 1px 3px #888;
	text-indent: .5em;
	margin: 0 0 10px 0;
	padding: .25em 0;
}
input.gutter {
	margin-right: 10px;
}
input[type="text"] {
	width: 148px;
	float: left;
	line-height: 1em;
}
textarea {
	clear:both;
	width: 308px;
	line-height: 1.4em;
}
input, textarea {
	font-family: 'Geo', sans-serif;
	color: #333;
	font-size: 1em;
}
input[type="submit"] {
	border: solid 1px #333;
	background-color: #efefef;
	line-height: 1em;
	padding: .25em .5em;
	margin: 0;
	cursor: pointer;
}
input[type="submit"]:hover {
	border: solid 1px #efefef;
	background-color: #333;
	color:  #efefef;
}
#response, #error {
	display: none;
	margin: 1em 0;
}
.required {
	background-color: #ccc;
}

/* IMAGES =========================*/

#logo {
	float: left;
}
a img {
	border: none;
	cursor: pointer;
}
.img-box img {
   -webkit-transition: all 0.4s ease-in-out 0.5s;
   -moz-transition: all 0.4s ease-in-out 0.5s;
   -o-transition: all 0.4s ease-in-out 0.5s;
   -ms-transition: all 0.4s ease-in-out 0.5s;
   transition: all 0.4s ease-in-out 0.5s;
}
.img-box .mask {
   z-index: -1;
   background-color: rgba(239,239,239,0.7);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-in 0.4s;
   -moz-transition: all 0.3s ease-in 0.4s;
   -o-transition: all 0.3s ease-in 0.4s;
   -ms-transition: all 0.3s ease-in 0.4s;
   transition: all 0.3s ease-in 0.4s;
}
.img-box h2 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background: transparent;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.img-box p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.2s;
   -moz-transition: all 0.3s ease-in-out 0.2s;
   -o-transition: all 0.3s ease-in-out 0.2s;
   -ms-transition: all 0.3s ease-in-out 0.2s;
   transition: all 0.3s ease-in-out 0.2s;
}
.img-box div.enlarge {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.img-box:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   z-index: 10;
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.img-box:hover img {
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.img-box:hover h2 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.img-box:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.img-box:hover div.enlarge {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.3s;
   -moz-transition-delay: 0.3s;
   -o-transition-delay: 0.3s;
   -ms-transition-delay: 0.3s;
   transition-delay: 0.3s;
}

/* FLEXIBLE MEDIA ---------*/
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	aside, div.penguin {
		background-image: url(penguin@2x.png);
		background-size: 50px 50px;
	}
	.bg {
		background-image: url(white-carbon@2x.png);
		background-size: 8px 8px;
	}
}
